.big {
    display: block;
}
.small {
    display: none;
}
.Headers {
    width: 100%;
    height: 608px;
    background: linear-gradient(294.47deg, rgba(0, 0, 0, 0.78) 56.01%, rgba(0, 0, 0, 0) 92.44%), linear-gradient(0deg, rgba(0, 28, 71, 0.73), rgba(0, 28, 71, 0.73)), url("bike.jpg");
    background-size: cover;
}
.logo {
    font-size: large;
    font-family: fantasy;
    font-weight: 400;
    color: white;
}
.basebar {
    width: 80%;
    height: fit-content;
    margin: auto;
}
.flexbar {
    width: 58%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iconflex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ico {
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 0.7;
}
.icons {
    width: 4.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sech {
    font-family: Figtree;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.logosectors {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* -----------------------------HeadBody-------------------------- */
.basebody {
    width: 80%;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.body1h {
    width: 423px;
    height: 144px;
    font-family: Figtree;
    font-style: normal;
    font-weight: 300;
    font-size: 66px;
    line-height: 72px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
.body1hs {
    width: 300px;
    height: 22px;
    font-family: Figtree;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.body1b {
    width: 156px;
    height: 58px;
    background: #022569;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
}
.bodyimg {
    width: 35%;
    height: 352px;
    background-image: url("kindpng_652966.png");
    background-size: cover;
    margin-top: 10%;
}
.onebig {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.len {
    width: 76px;
    height: 22px;
    font-family: Figtree;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.lens {
    width: 138px;
    height: 22px;
    font-family: Figtree;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}


/* ----------------------------------Body----------------------------*/
.bo1 {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    text-align: center;
}
.product {
    width: 80%;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.pro1img {
    width: 350px;
    height: 350px;
    background: #F0F0F0;
    background-size: cover; 
}
.imgg {
    width: 60%;
    height: 352px;
    margin-left: 20%;
}
.bo2 {
    width: 112px;
    height: 24px;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.pro1 {
    width: 33%;
    height: fit-content;
    margin-top: 2%;
}
.pro1flex {
    width: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bo2i {
    font-size: 18px;
    color: #2194FF;
}
.do1 {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    text-align: center;
}
.deal1 {
    width: 541px;
    height: 387px;
    background: #112B5F;
}
.deal1img {
    width: 60%;
    height: 382px;
    margin-left: 20%;
}
.dealpro {
    width: 80%;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deal2i {
    width: 518px;
    height: 183px;
    background: #FFF2C7;
}
.deal2img {
    width: 40%;
    height: 152px;
    margin-left: 30%;
    margin-top: 4%;
}
.deal2ii {
    width: 518px;
    height: 183px;
    background: #DDDDDD;
}


/* ---------------------------Testimonial-----------------------*/
.tes1 {
    text-align: center;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.19em;
    color: #022569;
    padding-top: 5%;
}
.tes2 {
    text-align: center;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: -0.02em;
    color: #000000;
}
.tes4 {
    width: 414px;
    height: 556px;
}
.tes4img {
    width: 100%;
    height: 100%;
}
.tes3 {
    width: 80%;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tes5 {
    width: 690px;
    height: 316px;
    background: #FFF2C7;
}
.tes6 {
    width: 80%;
    margin: auto;
    padding-top: 7%;
    padding-bottom: 7%;
}
.tes8 {
    width: 41px;
    height: 33px;
    background: url('th.jpg');
    background-size: cover;
    border-radius: 50%;
}
.tes9 {
    width: 85px;
    height: 75px;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 75px;
    color: #000000;
}
.tes7 {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tes10 {
    width: 509px;
    height: 67px;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}
.tes11 {
    width: 90px;
    height: 30px;
    background: #112B5F;
}
.tes12 {
    font-size: 1rem;
    font-weight: 200;
    color: #FFFFFF;
    text-align: center;
    padding-top: 8%;
}
/* ----------------------------------Footer----------------------------*/
.footers {
    position: absolute;
    width: 100%;
    height: 90px; 
    background: #112B5F;
}
.foot1 {
    position: absolute;
    width: 158px;
    height: 28px;
    left: 651px;
    top: 24px;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}

/* responsiveness phone */

@media only screen and (max-width:800px) {
    .big {
        display: none;
    }
    .small {
        display: block;
    }
    .Headers {
        width: 100%;
        height: 765px;
        background: linear-gradient(294.47deg, rgba(0, 0, 0, 0.78) 56.01%, rgba(0, 0, 0, 0) 92.44%), linear-gradient(0deg, rgba(0, 28, 71, 0.73), rgba(0, 28, 71, 0.73)), url("bike.jpg");
        background-size: cover;
    }
    .footers {
        width: 100%;
        height: 90px;
        background: #112B5F;
    }
    .basebar {
        width: 80%;
        height: fit-content;
        margin: auto;
    }
    .iconflex {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .icons {
        width: 14%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        font-size: large;
        font-family: fantasy;
        font-weight: 400;
        color: white;
    }
    .icos {
        font-size: 1.3rem;
        color: #FFFFFF;
        opacity: 0.7;
    }
    .ico {
        font-size: 1.2rem;
        color: #FFFFFF;
        opacity: 0.7;
    }
    .basebody {
        width: 80%;
        height: fit-content;
        margin: auto;
        flex-wrap: wrap;
    }
    .body1 {
        width: 100%;
        height: fit-content;
    }
    .body1h {
        width: 305px;
        height: 144px;
        font-family: Figtree;
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        letter-spacing: -0.01em;
        color: #FFFFFF;
    }
    .body1hs {
        font-family: Figtree;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
    }
    .body1b {
        width: 156px;
        height: 58px;
        background: #022569;
        font-family: 'Figtree';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        text-align: center;
    }
    .bodyimg {
        width: 75%;
        height: 352px;
        background-image: url("kindpng_652966.png");
        background-size: cover;
        margin-top: 10%;
    }
    .body2 {
        width: 100%;
        height: fit-content;
    }
    .bo1 {
        font-family: 'Figtree';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 48px;
        color: #000000;
        text-align: center;
    }
    .product {
        width: 90%;
        height: fit-content;
        margin: auto;
        flex-wrap: wrap;
    }
    .pro1 {
        width: 98%;
        height: fit-content;
        margin-top: 8%;
    }
    .pro1img {
        width: 100%;
        height: 350px;
        background: #F0F0F0;
        background-size: cover; 
    }
    .pro1flex {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .imgg {
        width: 60%;
        height: 352px;
        margin-left: 20%;
    }
    .bo2 {
        width: 112px;
        height: 24px;
        font-family: 'Figtree';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
    }
    .do1 {
        font-family: 'Figtree';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 48px;
        color: #000000;
        text-align: center;
    }
    .deal1 {
        width: 541px;
        height: 387px;
        background: #112B5F;
    }
    .deal1img {
        width: 60%;
        height: 382px;
        margin-left: 20%;
    }
    .dealpro {
        width: 90%;
        height: fit-content;
        margin: auto;
        flex-wrap: wrap;
    }
    .deal2i {
        width: 100%;
        height: 220px;
        background: #FFF2C7;
        margin-top: 8%;
    }
    .deal2img {
        width: 40%;
        height: 152px;
        margin-left: 30%;
        margin-top: 12%;
    }
    .deal2ii {
        width: 100%;
        height: 220px;
        background: #DDDDDD;
        margin-top: 8%;
    }
    .tes1 {
        text-align: center;
        font-family: 'Figtree';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 0.19em;
        color: #022569;
        padding-top: 5%;
    }
    .tes2 {
        text-align: center;
        font-family: 'Figtree';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        letter-spacing: -0.02em;
        color: #000000;
    }
    .tes4 {
        width: 414px;
        height: 556px;
    }
    .tes4img {
        width: 100%;
        height: 100%;
    }
    .tes3 {
        width: 80%;
        height: fit-content;
        margin: auto;
        flex-wrap: wrap;
    }
    .tes5 {
        width: 100%;
        height: 316px;
        background: #FFF2C7;
    }
    .tes6 {
        width: 80%;
        margin: auto;
        padding-top: 7%;
        padding-bottom: 7%;
    }
    .tes7 {
        width: 55%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .tes10 {
        width: 250px;
        height: 67px;
        font-family: 'Figtree';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #000000;
        padding-bottom: 10%;
    }
    .foot1 {
        font-family: 'Figtree';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        color: #FFFFFF;
        display: none;
    }
    .foot1s {
        font-family: 'Figtree';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        color: #FFFFFF;
        text-align: center;
        padding-top: 5%;
    }
}